@import url("Nunito/Nunito.css");
* {
  position: relative;
}

body {
  font-family: sans-serif, 'Nunito';
  color: #555;
  /* margin: 0em; */
  /* font-size: 1.1em; */
}

input[type=text], select {
  font: inherit;
  padding: .1em;
  border: solid 0px #D8D8D8;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

input[type=text] {
  text-align: right;
  min-width: 0;
  font-size: 5em;
  font-family: 'BebasNeue';
}

.qk-row {
  display: flex;
  align-items: center;
  padding: .1em 0;
  border-bottom: solid 1px lightgrey;
}

#txt-p-sec, #txt-t-mm, #txt-t-ss {
  flex: 0 0 1em;
}
#txt-distance, #txt-p-min, #txt-spd, #txt-t-hh {
  flex-grow: 1;
  margin-left: .1em;
}
span {
  font-size: 3em;
  font-family: 'BebasNeue';
}

.padright{
  flex: 0 0 4.5em;
  margin-left: .1em;
}

@media screen and (min-width: 480px) {
  body {
    font-family: 'Nunito';
    width: 25em;
    margin: auto;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-height: 480px) and (orientation: landscape){
  input[type=text] {
    font-size: 4em;
  }
}